body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.profile-container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

.portfolio a {
    color: #3498db;
    text-decoration: none;
}

.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-icon {
    margin: 0 15px;
    font-size: 18px;
    color: #3498db;
    text-decoration: none;
}

.social-icon:hover {
    color: #f39c12;
}
